<div class="search-div">
   
    
    <mat-form-field class="search-form-field " id="search" floatLabel="never">
      <input matInput [(ngModel)]="searchKey" placeholder="Search" autocomplete="off" (keyup)="applyFilter()">
      <button mat-button matSuffix mat-icon-button aria-label="Clear"*ngIf="searchKey"  (click)="onSearchClear()">
        <mat-icon>close</mat-icon>
      </button>
    </mat-form-field>
  </div>
    <div class="mat-elevation-z8">
      <mat-table [dataSource]="listData"  >
        <ng-container matColumnDef="codedep">
          <mat-header-cell *matHeaderCellDef >code department</mat-header-cell>
          <mat-cell *matCellDef="let element">{{element.codedep}}</mat-cell>
        </ng-container>
        <ng-container matColumnDef="nomdep">
            <mat-header-cell *matHeaderCellDef >nom department</mat-header-cell>
            <mat-cell *matCellDef="let element">{{element.nomdep}}</mat-cell>
          </ng-container>
          <ng-container matColumnDef="universite">
            <mat-header-cell *matHeaderCellDef >Universite</mat-header-cell>
            <mat-cell *matCellDef="let element">{{element.universite.codeuniv}}</mat-cell>            
                 </ng-container>
        <ng-container matColumnDef="actions">
          <mat-header-cell *matHeaderCellDef>Action</mat-header-cell>
          <mat-cell *matCellDef="let row">
            <button mat-icon-button (click)="onEdit(row)"><mat-icon>launch</mat-icon></button>
            <button mat-icon-button color="warn"  (click)=" onDelete(row.codedep)"><mat-icon>delete_outline</mat-icon></button>
          </mat-cell>
        </ng-container>
        <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
        <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
      </mat-table>
      <mat-paginator [pageSizeOptions]="[5, 10, 25, 100]" [pageSize]="5" showFirstLastButtons></mat-paginator>
    </div>