<h1>Edit universite</h1>

<form [(formGroup)]="angForm" novalidate>
    <div class="form-group">
        <label for="">code cours	</label>
        <input  type="number"
         class="form-control"  
         formControlName="code_C" 
         #code_C disabled>
      </div>
     
      <div class="form-group">
        <label for="">libelle	</label>
        <input  type="text"
         class="form-control"  placeholder="Enter the name"
         formControlName="libelle" 
         #libelle>
      </div>
      <div *ngIf="angForm.controls['libelle'].invalid && (angForm.controls['libelle'].dirty || angForm.controls['libelle'].touched)" class="alert alert-danger">
        <div *ngIf="angForm.controls['libelle'].errors.required">
            libelle  is required.
        </div>
      </div>
      
      <div class="row">
        <div class="col-md-12 form-group">
            <label for="name">num salle</label>
            <select formControlName="salle"  type="password"  class="form-control py-2 ">
                <option
                 *ngFor="let salle of data" 
                 [ngValue]="salle" 
                 class="form-control py-2 "
                  id="salle" 
                >
                 {{salle.nomS}}
                </option>
            </select>
        </div>
    </div>
    <div *ngIf="angForm.controls['salle'].invalid && (angForm.controls['salle'].dirty || angForm.controls['salle'].touched)" class="alert alert-danger">
        <div *ngIf="angForm.controls['salle'].errors.required">
          First Name  is required.
        </div>
      </div>
       
   
     
      <div class="form-group float-right">
        <button  (click)="onClose()" cdkFocusInitial type="submit" class="btn btn-primary">Close</button>
      <button  (click) = "edit(angForm)" 
        type="submit" class="btn btn-primary">Edit</button>
      </div>
  
  </form>
