<div class="search-div">
   
    
    <mat-form-field class="search-form-field " id="search" floatLabel="never">
      <input matInput [(ngModel)]="searchKey" placeholder="Search" autocomplete="off" (keyup)="applyFilter()">
      <button mat-button matSuffix mat-icon-button aria-label="Clear"*ngIf="searchKey"  (click)="onSearchClear()">
        <mat-icon>close</mat-icon>
      </button>
    </mat-form-field>
  </div>
    <div class="mat-elevation-z8">
      <mat-table [dataSource]="listData"  >
        <ng-container matColumnDef="code_C">
          <mat-header-cell *matHeaderCellDef >code cours</mat-header-cell>
          <mat-cell *matCellDef="let element">{{element.code_C}}</mat-cell>
        </ng-container>
        <ng-container matColumnDef="libelle">
            <mat-header-cell *matHeaderCellDef >libelle</mat-header-cell>
            <mat-cell *matCellDef="let element">{{element.libelle}}</mat-cell>
          </ng-container>
          <ng-container matColumnDef="salle">
            <mat-header-cell *matHeaderCellDef >Salle</mat-header-cell>
            <mat-cell *matCellDef="let element">{{element.salle.nomS}}</mat-cell>            
                 </ng-container>
        <ng-container matColumnDef="actions">
          <mat-header-cell *matHeaderCellDef>Action</mat-header-cell>
          <mat-cell *matCellDef="let row">
            <button mat-icon-button (click)="onEdit(row)"><mat-icon>launch</mat-icon></button>
            <button mat-icon-button color="warn"  (click)=" onDelete(row.code_C)"><mat-icon>delete_outline</mat-icon></button>
          </mat-cell>
        </ng-container>
        <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
        <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
      </mat-table>
      <mat-paginator [pageSizeOptions]="[5, 10, 25, 100]" [pageSize]="5" showFirstLastButtons></mat-paginator>
    </div>