<h1>Edit universite</h1>

<form [(formGroup)]="angForm" novalidate>
    <div class="form-group">
        <label for="">Matricule	</label>
        <input  type="number"
         class="form-control"  
         formControlName="matricul" 
         #matricul disabled>
      </div>
     
      <div class="form-group">
        <label for="">nom 	</label>
        <input  type="text"
         class="form-control"  placeholder="Enter the name"
         formControlName="nomens" 
         #nomens>
      </div>
      <div *ngIf="angForm.controls['nomens'].invalid && (angForm.controls['nomens'].dirty || angForm.controls['nomens'].touched)" class="alert alert-danger">
        <div *ngIf="angForm.controls['nomens'].errors.required">
            adresseens  is required.
        </div>
      </div>
       
      <div class="form-group">
        <label for="">Prenom	</label>
        <input class="form-control"
            placeholder="Enter the Last Name"
            formControlName="prenomens" 
         #prenomens>
      </div>
      <div *ngIf="angForm.controls['prenomens'].invalid && (angForm.controls['prenomens'].dirty || angForm.controls['prenomens'].touched)" class="alert alert-danger">
        <div *ngIf="angForm.controls['prenomens'].errors.required">
            prenomens  is required.
        </div>
      </div>
     
      
      <div class="form-group">
        <label for="">Adresse	</label>
        <input class="form-control"
            placeholder="Enter the Last Name"
            formControlName="adresseens" 
         #adresseens>
      </div>
  
      <div *ngIf="angForm.controls['adresseens'].invalid && (angForm.controls['adresseens'].dirty || angForm.controls['adresseens'].touched)" class="alert alert-danger">
        <div *ngIf="angForm.controls['adresseens'].errors.required">
            adresseens  is required.
        </div>
      </div>
       
      <div class="form-group">
        <label for="">Diplome	</label>
        <input class="form-control"
            placeholder="Enter the Last Name"
            formControlName="diplom" 
         #diplom>
      </div>
      <div *ngIf="angForm.controls['diplom'].invalid && (angForm.controls['diplom'].dirty || angForm.controls['diplom'].touched)" class="alert alert-danger">
        <div *ngIf="angForm.controls['diplom'].errors.required">
            diplome  is required.
        </div>
      </div>
    
       
      <div class="row">
        <div class="col-md-12 form-group">
            <label for="name">Department</label>
            <select formControlName="departements"  type="password"  class="form-control py-2 ">
                <option
                 *ngFor="let departements of data2" 
                 [ngValue]="departements" 
                 class="form-control py-2 "
                  id="departements" 
                >
                 {{departements.codedep}}
                </option>
            </select>
        </div>
    </div>
    <div *ngIf="angForm.controls['departements'].invalid && (angForm.controls['departements'].dirty || angForm.controls['departements'].touched)" class="alert alert-danger">
        <div *ngIf="angForm.controls['departements'].errors.required">
          First Name  is required.
        </div>
      </div>

    <div class="row">
        <div class="col-md-12 form-group">
            <label for="name">Cours</label>
            <select formControlName="cours"  type="password"  class="form-control py-2 ">
                <option
                 *ngFor="let cours of data" 
                 [ngValue]="cours" 
                 class="form-control py-2 "
                  id="cours" 
                >
                 {{cours.libelle}}
                </option>
            </select>
        </div>
    </div>
    <div *ngIf="angForm.controls['cours'].invalid && (angForm.controls['cours'].dirty || angForm.controls['cours'].touched)" class="alert alert-danger">
        <div *ngIf="angForm.controls['cours'].errors.required">
          First Name  is required.
        </div>
      </div>
       
   
     
      <div class="form-group float-right">
        <button  (click)="onClose()" cdkFocusInitial type="submit" class="btn btn-primary">Close</button>
      <button  (click) = "edit(angForm.value)" 
        type="submit" class="btn btn-primary">Edit</button>
      </div>
  
  </form>
